*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    

}
:root{

    --color-principal:#ff2d95;
    --color-secundario:#ff6bc1;
    --fondo:#0a0a0a;
    --gris:#1d1d1d;
    --blanco:#ffffff;
}
::-webkit-scrollbar{

    width:10px;
   

}

::-webkit-scrollbar-track{

    background:#111;

}

::-webkit-scrollbar-thumb{

    background:var(--color-principal);

    border-radius:10px;

}

::-webkit-scrollbar-thumb:hover{

    background:var(--color-secundario);

}


header{
    width: 100%;
    height: 70px;
    background: #000;
}
nav {
display: flex;

       
    gap:35px;
          
}
.logo{
    height: 151px;
        margin-top: -34px
    
}
ul{
display: flex;
    justify-content: space-between;
        margin:auto;
        margin-top: 27px;
             list-style:none;
    gap:35px;
    color: white;
  
       
}
a{
    
    color: white;
         font-size:18px;
     text-decoration: none;
   
    
}


.buscador{
    display: flex;
    align-items: center;
          justify-content: space-between; 
    margin-top: -44px
     
}
nav ul li a:hover{
    
    color:var(  --color-principal);
  text-shadow: 
  0 0 8px var(--color-principal),

    0 0 18px var(--color-principal),

    0 0 30px var(--color-principal);
   
 

}
.buscador input{
    width: 240px;
        height: 40px;
    border:none;
        outline: none;
    padding-left: 16px;
    border-radius: 8px 0 0 8px;
         font-size:16px;   
    margin:0;
        
}
.buscador button{
    width: 45px;
    height: 40px;   
    box-shadow:
    0 0 10px var(--color-principal),
    0 0 10px var(--color-principal),
     0 0 10px var(--color-principal);
    color: white;
    background:var(--color-principal)
    }
.buscador button:hover{
    box-shadow: 
        0 0 20px var(--color-principal),
    0 0 35px var(--color-principal);
}

body{
  background-image:url("imagenes2.0/estrellas2.0.png"); 
}
h2{
    color:var(  --color-principal);
        font-size: 72px;
    margin-top: 39px;
    text-shadow: 
        0 0 8px var(--color-principal),
        0 0 18px var(--color-principal),
        0 0  35px var(--color-principal);
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: 150px 150px ;
    margin:50px;
    height: 468px;
           background:rgba(15,15,15,0.75);
      max-width: 1230px; 
    border-radius:20px;
     backdrop-filter:blur(3px);

   
    
}

    .shonen {
    grid-column: 3;
    grid-row: 1;
        align-content: center;
        margin: auto;
        
        
        
           
}

   
.romance{
       grid-column: 1;
    grid-row: 3;
        align-content: center;
        margin: auto;
     
        
      
   
           
                 
        
      
            
    
    
}
.fantasia{
    
         grid-column: 3;
    grid-row: 3;
        align-content: center;
        margin: auto;

  
        
        
           
            
    
}
.terror{
    grid-column: 1;
    grid-row: 1;
        align-content: center;
        margin: auto;
  
            
    
}
.issekai{
     grid-column: 2;
    grid-row: 2;
        align-content: center;
        margin: auto;
  
    
        
           
    
    
}
.contenedor a{
    
    font-size: 41px;
         
 
}
.shonen:hover{
   
       text-shadow: 
        0 0 8px var(--color-principal),
        0 0 18px var(--color-principal),
        0 0  35px var(--color-principal);
    
}
.fantasia:hover{
   
       text-shadow: 
        0 0 8px var(--color-principal),
        0 0 18px var(--color-principal),
        0 0  35px var(--color-principal);
    
}
.romance:hover{
   
       text-shadow: 
        0 0 8px var(--color-principal),
        0 0 18px var(--color-principal),
        0 0  35px var(--color-principal);
    
}
.issekai:hover{
   
       text-shadow: 
        0 0 8px var(--color-principal),
        0 0 18px var(--color-principal),
        0 0  35px var(--color-principal);
    
}
.terror:hover{
   
       text-shadow: 
        0 0 8px var(--color-principal),
        0 0 18px var(--color-principal),
        0 0  35px var(--color-principal);
    
}

